.container{
  width: 100%;
  //height: 56px;
  display: flex;
  justify-content: center;
  padding-top: 56px;
  z-index: 3;
}

.wrapper{
  max-width: 1200px;
}

.logo{

  font-weight: bold;
  font-size: 30px;
  color: #fff;
text-transform: uppercase;
}
