.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}
.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: var(--size-2xl);
  font-weight: bold;
}
